﻿body {
    color: #756158;
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    text-align: center;
    background-color: #fff1e6;
}

.tbold {
    font-size: 21px;
    font-weight: bold;
}

.headline {
    font-size: 30px;
    font-weight: bold;
    margin-top: 20px;
}

footer {
    bottom: 0;
    padding-top:5%;
}

.input {
    overflow: auto;
}

.tdiv{
    padding: 20px;
}